---
import CardProyect from '../components/CardProyect.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dromps Dev | Home">
	<section>
		<h1>Dromps Dev</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi reprehenderit officia, aliquam recusandae quae ea inventore nisi vel illo rerum tempore dolorem excepturi nulla facilis pariatur voluptatum tenetur eius nesciunt!</p>
		<img src="https://pbs.twimg.com/media/E4SSdCNXMAgHtbe.jpg" alt="sapo con sombrero diciendo tuki" title="Sapo diciendo TUKI" width="300">
	</section>
	<section>
		<h2>Proyectos</h2>
		<div>
			<CardProyect />
			<CardProyect />
			<CardProyect />
		</div>
	</section>
	<section>
		<h2>Descripcion de los servicios</h2>
		<article>
			<h3>Descripción del servicio</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium nobis distinctio corporis, ipsum deserunt consectetur dicta ex eius assumenda.</p>
		</article>
		<article>
			<h3>Descripción del servicio</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium nobis distinctio corporis, ipsum deserunt consectetur dicta ex eius assumenda.</p>
		</article>
		<article>
			<h3>Descripción del servicio</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium nobis distinctio corporis, ipsum deserunt consectetur dicta ex eius assumenda.</p>
		</article>
	</section>
	<section>
		<h2>Precios</h2>
		<div>
			<h3>Junior</h3>
			<span>$300</span>
			<ul>
				<li>Lorem</li>
				<li>lorem</li>
				<li>lorem</li>
			</ul>
		</div>
		<div>
			<h3>Junior</h3>
			<span>$300</span>
			<ul>
				<li>Lorem</li>
				<li>lorem</li>
				<li>lorem</li>
			</ul>
		</div>
		<div>
			<h3>Junior</h3>
			<span>$300</span>
			<ul>
				<li>Lorem</li>
				<li>lorem</li>
				<li>lorem</li>
			</ul>
		</div>
	</section>
</Layout>