---
import CardProyect from '../components/CardProyect.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dromps Dev | Home">
	<section class="hero">
		<div class="hero__descript">
			<h1 class="hero__title">Dromps Dev</h1>
			<p class="hero__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi reprehenderit officia, aliquam recusandae quae ea inventore nisi vel illo rerum tempore doloremg excepturi nulla facilis pariatur voluptatum tenetdur eius nesciunt!</p>
		</div>
		<figure class="image">
			<img src="https://pbs.twimg.com/media/E4SSdCNXMAgHtbe.jpg" alt="sapo con sombrero diciendo tuki" title="Sapo diciendo TUKI">
		</figure>
	</section>
	<section class="proyectos">
		<h2 class="title--section">Proyectos</h2>
		<div class="proyectos__content">
			<CardProyect />
			<CardProyect />
			<CardProyect />
		</div>
	</section>
	<section class="servicios">
		<h2 class="title--section">Descripcion de los servicios</h2>
		<div class="servicios__content">
			<article class="servicio">
				<h3 class="servicio__title">Descripción del servicio</h3>
				<p class="servicio__descript">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium nobis distinctio corporis, ipsum deserunt consectetur dicta ex eius assumenda.</p>
			</article>
			<article class="servicio">
				<h3 class="servicio__title">Descripción del servicio</h3>
				<p class="servicio__descript">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium nobis distinctio corporis, ipsum deserunt consectetur dicta ex eius assumenda.</p>
			</article>
			<article class="servicio">
				<h3 class="servicio__title">Descripción del servicio</h3>
				<p class="servicio__descript">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque praesentium nobis distinctio corporis, ipsum deserunt consectetur dicta ex eius assumenda.</p>
			</article>
		</div>
	</section>
	<section>
		<h2 class="title--section">Precios</h2>
		<div>
			<h3>Junior</h3>
			<span>$300</span>
			<ul>
				<li>Lorem</li>
				<li>lorem</li>
				<li>lorem</li>
			</ul>
		</div>
		<div>
			<h3>Junior</h3>
			<span>$300</span>
			<ul>
				<li>Lorem</li>
				<li>lorem</li>
				<li>lorem</li>
			</ul>
		</div>
		<div>
			<h3>Junior</h3>
			<span>$300</span>
			<ul>
				<li>Lorem</li>
				<li>lorem</li>
				<li>lorem</li>
			</ul>
		</div>
	</section>
</Layout>
<style>
	.hero {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		place-content: center;
	}
	.hero__descript {
		height: auto;
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
	.hero__title {
		font-size: 5rem;
		font-weight: 900;
		text-transform: uppercase;
	}
	.image {
		display: flex;
		align-items:center;
		justify-content: flex-end;
	}
	.image img {
		width: 90%;
		height: 80%;
		object-fit: cover;
	}

	.title--section {
		font-size: 4rem;
		text-transform: uppercase;
		margin-block-end: 2.4rem;
	}

	.proyectos__content {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
		gap: 2rem;
	}

	.servicios__content {
		display: grid;
		grid-template-columns: repeat(12,1fr);
		grid-auto-rows: auto;
		gap: 2.4rem 0;
	}
	.servicio {
		grid-column: 2/9;
		border: 1px solid #000;
		border-radius: .5rem;
		padding: 1.2rem 1.8rem;
	}
	.servicio:nth-child(2n){
		grid-column: 5/12;
		border: 1px solid rgb(96, 96, 96);
	}
	.servicio__title {
		text-transform: uppercase;
		margin-block-end: .8rem
	}
</style>