---

---

<article>
    <img width="100" src="https://i0.wp.com/css-tricks.com/wp-content/uploads/2021/07/social.jpg?fit=2024%2C1012&ssl=1" alt="">
    <h3>Titulo del proyecto</h3>
    <div>
        <p>Tecnologias:</p>
        <span>Astro</span>
        <span>Javascript</span>
        <span>React</span>
    </div>
    <button>Ir al proyecto</button>
</article>